.menu-button {
  background:blue;
  color:white;
  padding:5px;
  text-decoration:none;
  margin-right:10px;
}
.title-solid {
  color:black;
   border:3px black solid;
}
.title-dashed {
  color:black;
   border:3px black dashed;
}
body{background:#5f5f5f}
.zone {
  border: 2px black solid;
  display: inline-block; 
  }
