.menu-button {
  background:blue;
  color:white;
  padding:5px;
  text-decoration:none;
  margin-right:10px;
}
.title-solid {
  color:black;
   border:3px black solid;
}
.title-dashed {
  color:black;
   border:3px black dashed;
}
body{background:#000000 !important}
.zone {
  border: 2px black solid;
  display: inline-block;
  }
.menu-nav {
  background-color:#b10c0c!important;
}
